html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto
}

.container::after {
    clear: both;
    content: "";
    display: table
}

@media screen and (max-width: 5000px) and (min-width: 641px) {
    .social-networks li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 14%
    }
    .social-networks li:last-child {
        margin-right: 0
    }
    .social-networks li:nth-child(8n) {
        margin-right: 0
    }
    .social-networks li:nth-child(8n+1) {
        clear: left
    }
}

@media screen and (max-width: 640px) {
    .social-networks li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%
    }
    .social-networks li:last-child {
        margin-right: 0
    }
    .social-networks li:nth-child(3n) {
        margin-right: 0
    }
    .social-networks li:nth-child(3n+1) {
        clear: left
    }
}

header,
.social-networks,
footer {
    display: block
}

header::after,
.social-networks::after,
footer::after {
    clear: both;
    content: "";
    display: table
}

body {
    background-color: #50284D;
    color: #fff;
    font: 300 14pt/1.4em sans-serif;
    padding: 5% 0
}

h1,
h2,
h3,
h4 {
    font-family:  Helvetica, futura, Verdana, sans-serif;
}

.container {
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 5% 0
}

@media screen and (max-width: 640px) {
    .container {
        margin-top: 1.2em
    }
}

header {
    margin-bottom: 2.5em;
    text-align: center
}

@media screen and (max-width: 640px) {
    header {
        font-size: .5em
    }
}

header h1 {
    font-size: 5em;
    text-transform: capitalize;
    line-height: 1em;
    font-weight: bold
}

header h1 a {
    color: #fff;
    text-decoration: none
}

header h2 {
    font-family:  Helvetica, futura, Verdana, sans-serif;
    color: #fff
}

.social-networks li {
    font-size: 1em;
    margin-bottom: 1em;
    text-align: center
}

.social-networks li span.name {
    display: none
}

.social-networks li a {
    text-decoration: none;
    color: #fff
}

@media screen and (max-width: 640px) {
    .social-networks li {
        font-size: 1.25em
    }
}

footer {
    opacity: 0.6;
    text-align: center
}

@media screen and (max-width: 640px) {
    footer {
        font-size: .6em
    }
}
